{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Conditions générales d'utilisation{% endblock %}

{% block body %}
    <h1 class="text-center mt-4 pt-4 display-1 fw-bold titre"> Conditions générales d'utilisation </h1>

    <div class="w-75 ms-5 mt-5">
        <p> 
        Bienvenue sur le site internet de Minerva. En accedant à notre site vous acceptez les présentes conditions générales d'utilisations.
        Veuillez les lire attentivement avant d'utiliser notre site.
        </p>

        <ol>
            <li> 
                <h4> Propriété intelectuelle </h4>
                <p> Le contenue sur notre site internet, y compris les textes, images, logos,marques de commerce et graphismes
                est protéger par des droites de propriété intellectuelle. Vous ne pouvez pas reproduire, distribuer, modifier 
                ou exploiter ce contenu dans notre autorisation écrite.
                </p>
            </li>
            <li> 
                <h4> Utilisation du sites </h4>
                <p> Vous pouvez utilisez notre sites pour naviguer, passer des commandes en lignes et vous aboner à notre newletter.
                Vous ne pouvez pas utiliser notre sites à des fins illégales, frauduleuses ou nuisibles.
                </p>
            </li>
            <li> 
                <h4> Confidentialité </h4>
                <p> Minerva s'engage à protéger vos données personnelles conformmément à notre chartes de protection des données
                personnelles. Veuillez lire notre charte pour en savoir plus sur la manière dont nous collectons, utilisons et stockons
                vos données personnelles.
                </p>
            </li>
            <li> 
                <h4> Liensvers d'autre sites </h4>
                <p> Notre sites peut contenir des liens vers des sites tiers. Nous ne sommes pas responsables du contenu 
                ou des pratiques de ces sites tiers. L'utilisation de ces sites est à vos risques et périls.
                </p>
            </li>
            <li> 
                <h4> Responsabilité </h4>
                <p> Nous nous efforçons de maintenir notre sites à jour et fonctionnel. Cependant, nous ne pouvons garantir
                que notre sites sera toujours accessibles et exempt d'erreur ou de virus. Minerva n'est pas reponsable des dommages
                directs ou indirects résultant de l'utilisation de notre site.
                </p>
            </li>
             <li> 
                <h4> Commande en ligne </h4>
                <p> Vous pouvez passrr des commandes en ligne sur notre site internet. Toutes les commandes sont sujettes à notre
                confirmations et la disponibilité des produits. Minervase réserve le droit de refuser toutes commandes pour quelque
                raison que ce soit
                </p>
            </li>
             <li> 
                <h4> Prix et paiements </h4>
                <p> Les prix des produits affichés sur notre sites sont en euros et incluent la TVA. les frais de livraison ne sont pas inclus
                dans le sprix affichés. Les paiements doivent être effectués en euros. Nous acceptons les paiement par carte de crédit,
                carte de débit et PayPal. 
                </p>
            </li>
            <li> 
                <h4> Livraison </h4>
                <p> Minerva s'engage à expédier vos commande dans les plus brefs délais. Les délais de livraisons dépendent de votre
                adresse de livraisonet de la disponibilité des produits. Nous ne somme pas reponsable des retards de livraisons causés
                par des événement indépendants de notre volonté.
                </p>
            </li>
            <li> 
                <h4> Concernant votre âme </h4>
                <p> Lorsque vous acceptez ces conditions générales d'utilisations vous vous engagez également à donner votre âme
                en tribut à Belzebuth. Rien de ce que vous ne pourrez dire par la suite n'y changeras quoi que ce soit.
                </p>
            </li>
            <li> 
                <h4> Droits applicable et juridiction compétente </h4>
                <p> Les présentes conditions générales d'utilisation sont régies par les lois françaises Tout litige découlant
                de l'utilisation de notre site internet sera soumis à la juridiction des tribunaux français.
                </p>
            </li>
            <li> 
                <h4> Modification des conditions générales d'utilisation </h4>
                <p> Nous nous reservons le droit de modifier ces conditions générales d'utilisation à tout moment. Les modifications
                prendront effet dès leur publication sur notre site internet.
                </p>
            </li>
        </ol>

        <p class="mb-5"> Si vous avez des questions ou des préoccupations concernant nos conditions générales d'utilisations, veuillez
        nous contacter via notre formulaire de contact.


    </div>
{% endblock %}