{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Détails
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row justify-content-center">
		<div class="col-10 titre">
			<h1 class="text-center titre mt-4 pt-4 display-1 fw-bold">Liste du panier</h1>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="fw-bold">
                            <th scope="col-4"> Nom </th>
                            <th scope="col"> Prix </th>
                    </thead>
                </table>
            </div>
		</div>
	</div>
</div>


{% endblock %}

